html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
}

.form input,
.form button {
    border-radius: 0;
    border: 1px solid gray;
}

.form input:focus {
    outline: none;
}

.form button {
    margin-left: -1px;
}

#result {
    position: fixed;
    top: 15px;
}

.animated {
    animation: fadeIn 0.7s linear both;
}

@keyframes fadeIn{
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
