html, body {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(88, 95, 96);
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: bisque;
}

.container-input {
    display: flex;
    flex-direction: column;
}

.input-converter {
    display: flex;
    align-items: center;
    gap: 15px;
}

.container-input span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: bisque;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form input {
    width: 300px;
    height: 20px;
    outline: none;
}

form label {
    align-self: self-end;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: bisque;
}